<%# include partials/header %>

<div class = container>
  <div class = jumbotron>
    <p>Welcome to cold pot</p>
    
    <div class="input-group">
      <form action = '/' method = 'POST'>
        <input class = 'form-control' type = 'text' name = 'username' placeholder = 'please input your github username'>
        <span class="input-group-btn">
          <button class="btn btn-default">Go!</button>
        </span>
      </form>
    </div>
    
  </div>
</div>
    
  
<%# include partials/footer %>