<%# include partials/header %>

<div class = container>
  <div class = jumbotron>
    <h2>Generate your custumized coding report</h2>
    <p>Just type your github username in!</p>
    
      <form action = '/' method = 'POST'>
        <div class="form-group">
        <input class = 'form-control' style="width:30%" type = 'text' name = 'username' placeholder = 'Your github username'>
        <span class="input-group-btn">
          </div>
          <button class="btn btn-large btn-default btn-primary">Go!</button>
        </span>
      </form>
  </div>
</div>
    
  
<%# include partials/footer %>