body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

  background-image: url(https://ledroideenchaine.com/wp-content/uploads/2016/08/Legacy-code.jpg);
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-position:center;
  background-size:cover;
  
}
.jumbotron {
  /*background-image:  url(https://ledroideenchaine.com/wp-content/uploads/2016/08/Legacy-code.jpg);*/
  opacity: 0.8;
}
.jumbotron:hover{
  opacity: 1;
  
}
a {
  color: #00B7FF;
}

/*div {*/
/*  transition: all 4s linear;*/
/*}*/

.page {
  width: 100%;
  height: 100%;
  margin: 0 0 0 0; 
  color: white;
  background-color: steelblue;
  /*background-size: cover;*/
  /*opacity: 0.8;*/
  position: fixed; 
  
  text-align: center;
  top: 0;
  left: 0;
}
.hide {
  display: none;
}

.back {
  /*position: absolute;*/
  /*left: 50%;*/
  margin-top: 4%;
   /* bring your own prefixes */
  /*transform: translate(-50%);*/
}
.next {
  /*padding: 0;*/
  position: absolute;
  /*width: 5%;*/
  /*height: 5%;*/
  left : 50%;
  bottom: 0;
   /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
