<!--<!DOCTYPE html>-->
<!--<html>-->
<!--  <head>-->
<!--    <title>CodeReport</title>-->
<!--    </head>-->

<!--  <body>-->
    <%= render 'layouts/header'%>
    <%= yield %>
    <%= render 'layouts/footer'%>
 